{% extends navigationPage %} 
{% load static %}
{% block content %}
    <!DOCTYPE html>

        <head>
            <title>ABC CORP Deactivate Equipment</title>
            <link rel="stylesheet" type="text/css" href="{% static '/css/deactivate.css' %}"> 
        </head>
        <body>
            <div class="body-card">
                <p class="body-card-text"> Deactivate Equpment</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-text">
                        <h4>Are you sure you want to deactivate this Equipment?</h4>
                        <p>Name: {{equipment.name}}</p>
                        <p>Assigned To: {{equipment.assignedTo}}</p>
                        <p>Office Location: {{equipment.officeLocation}}</p>
                        <p>Equipment Type: {{equipment.equipmentType}}</p>
                        <p>Purchase Date: {{equipment.purchaseDate}}</p>
                        <p>Expiration: {{equipment.expirationDate}}</p>
                        <p>Floor: {{equipment.floor}}</p>
                    </div>
                    <input type="submit"name="yes" class="deactivate-btn" value="Yes">
                    <input type="submit" name="no" class="deactivate-btn" value="No">
                </form>
            </div>
        </body>
        <footer class="footer">
            <div id="footer-text">                
                <p>Copyright &copy; {{date.year}} - ABC CORPORATION - All Rights Reserved</p>
            </div>
        </footer>        
    </html>
    
    
{% endblock %}  