{% load static %}

<!DOCTYPE html>
    <head>
        <title>ABC CORP Reports</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/error.css' %}"> 
    </head>
    <body>
        <div class="body-card">
            <div class="body-card-text">
                <h1>Error :(</h1>
                <h4>{{errorMessage}}<h4>
                <br>
                <h4>Click <a href="{% url redirectUrlName %}">here</a> to return to {{redirectPageName}} page.</h4>
            </div>
        </div>
    </body>
    <footer class="footer">
        <div id="footer-text">                
            <p>Copyright &copy; {{date.year}} - ABC CORPORATION - All Rights Reserved</p>
        </div>
    </footer>
</html>
    
