{% extends navigationPage %}
{% load static %}
{% block content %}
    <!DOCTYPE html>

        <head>
            <title>ABC CORP Update User</title>
            <link rel="stylesheet" type="text/css" href="{% static '/css/addUser.css' %}">
        </head>
        <body>
            <div class="body-card">
                <p class="body-card-text"> Update User</p>
                <div class="form-container">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-25">
                            <label class="form-text">First Name</label>
                            </div>
                            <div class="col-75">
                            <input type="text" required name="first_name" value= "{{ user.firstName }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                            <label class="form-text">Last Name</label>
                            </div>
                            <div class="col-75">
                            <input type="text" required name="last_name"value= "{{ user.lastName }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                            <label class="form-text">Email</label>
                            </div>
                            <div class="col-75">
                              <div class="popuptext" id="myPopup"></div>
                            <input type="text" required name="email" id="inputEmail" value= "{{ user.email }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                            <label class="form-text">Phone</label>
                            </div>
                            <div class="col-75">
                              <div class="popuptext" id="myPopup2"></div>
                            <input type="text" required name="phone" id="inputphone" value= "{{ user.phone }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                            <label class="form-text">Address</label>
                            </div>
                            <div class="col-75">
                            <input type="text" required name="address" value= "{{ user.address }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                            <label class="form-text">Password</label>
                            </div>
                            <div class="col-75">
                            <input type="password" required name="password1" placeholder="Enter New Password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                            <label class="form-text">Confirm Password</label>
                            </div>
                            <div class="col-75">
                            <input type="password" required name="password2" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                            <label class="form-text" >Location</label>
                            </div>
                            <div class="col-75">
                                <select required name="location">
                                    {% for location in locations %}
                                        {% if user.officeLocation.id == location.id%}
                                            <option value={{location.id}} selected = "selected">{{location.name}}</option>
                                        {% else %}
                                            <option value={{location.id}}>{{location.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% if loggedOnUser.is_admin%}
                            <div class="row">
                                <div class="col-25">
                                <label class="form-text" >Is Admin?</label>
                                </div>
                                <div class="col-75">
                                    <input type="checkbox" name="is_admin">
                                </div>
                            </div>
                        {% endif%}
                         <br>
                        <input type="submit" class="add-btn" value="Update">
                    </form>
                </div>
                {% if hasAdded %}
                    <div class="short-description">
                        <p id="short-description-label">
                            User Name
                        </p>
                        <p id="short-description-label">
                            Office Location
                        </p>
                        <p id="short-description-label">
                            User Email
                        </p>
                        <p id="short-description-links">
                            <a href="{% url 'updateUser' userId=user.id %}">Update</a> |
                            {% if user.is_active %}
                                <a href="{% url 'deactivateUser' userId=user.id %}">Deactivate</a> |
                            {% else %}
                            <a href="{% url 'activateUser' userId=user.id %}">Activate</a> |
                            {% endif %}
                            <a href="{% url 'displayUser' userId=user.id %}">View</a>
                        </p><br/><br/><br/>
                        <p id="short-description-value">
                            {{user.firstName}} {{addedUser.lastName}}
                        </p>
                        <p id="short-description-value">
                            {{officeLocation}}
                        </p>
                        <p id="short-description-value">
                            {{user.email}}
                        </p>

                    </div>
                {% endif %}
            </div>
        </body>
        <footer class="footer">
            <div id="footer-text">
                <p>Copyright &copy; {{date.year}} - ABC CORPORATION - All Rights Reserved</p>
            </div>
        </footer>
        <script>
            $('a.add.dropbtn').addClass('active')
            document.getElementById("inputEmail").onkeyup = function () {validateEmail()};
            function validateEmail(){
              document.getElementById("inputEmail").style.color="red";
              var email = document.getElementById("inputEmail")
              var regexEmail = /\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
              document.getElementById("myPopup").innerHTML="Invalid Email ";
              document.getElementById("myPopup").style.color = "red";
              document.getElementById("myPopup").style.fontFamily = "Georgia";
              if(email.value == ""){
                document.getElementById("myPopup").innerHTML="";
              }
              if(regexEmail.test(email.value)){
                document.getElementById("inputEmail").style.color="black";
                document.getElementById("myPopup").innerHTML=" ";


              }
            }
            document.getElementById("inputphone").onkeyup = function () {validateEmail()};
    				function validatePhone(){
    					document.getElementById("inputphone").style.color="red";
    					var phone =  document.getElementById("inputPhone");
    					var regex = /^\d{10}$/;

    					document.getElementById("myPopup2").innerHTML="Invalid Phone";
    					document.getElementById("myPopup2").style.color = "red";
    					document.getElementById("myPopup2").style.fontFamily = "Georgia";

    					if(phone.value == ""){
    						document.getElementById("myPopup2").innerHTML="";
    					}
    					if(regexEmail.test(phone.value)){
    						document.getElementById("inputphone").style.color="black";
    						document.getElementById("myPopup2").innerHTML=" ";


    					}

    				}
        </script>
    </html>


{% endblock %}
