.body-card {
    height: 510px;
    padding-top: 1.5rem;
}

.body-card-text {
    font-family: Verdana, Helvetica, sans-serif;
    color: rgb(55, 96, 220);
    margin-left: 30px;
    font-weight: bold;
}

.footer {
    background-color: rgb(55, 96, 220);
    height: 200px;
}

#footer-text {
    font-family: Verdana, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 70px;
    width: 100%;
}