.body-card {
    padding: 0px;
    margin-left: 15%;
}

.header-card {
    padding-top: 1.5rem;
    background-image: url("../media/HomeImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    height: 250px;
    z-index: 1;
    position: absolute;
}

#header-text {
    font-family: Verdana, Helvetica, sans-serif;
    color: black;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0px;
}

.main-body-card {
    background-color: black;
    height: 1300px;
}

#main-body-text {
    font-family: Verdana, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.equipment-card {
    font-family: Verdana, Helvetica, sans-serif;
    color: white;
    text-align: left;
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 10px;
    height: 200px;
}

.equipment-card #title {
    float: left;
}

.equipment-card #value {
    float: right;
}

.solid {
    border-top: 1px solid #bbb;
    margin-left: 250px;
    margin-right: 250px;
    opacity: 0.2;
}

.footer {
    background-color: rgb(55, 96, 220);
    height: 200px;
}

#footer-text {
    font-family: Verdana, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 70px;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
}

.column-divider {
    float: left;
    width: 20%;
    padding: 5px;
    padding-right: 90px;
    padding-left: 90px;
}

.column a img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.column a:hover img {
    opacity: .5;
}

#column-text {
    font-family: Verdana, Helvetica, sans-serif;
    color: black;
    text-align: center;
    padding-left: 20px;
    width: 250px;
}

.row {
    content: "";
    clear: both;
    display: table;
    padding-left: 200px;
    padding-right: 250px;
    margin-left: 15%;
}

#row-text {
    font-family: Verdana, Helvetica, sans-serif;
    color: black;
    margin-left: 315px;
    font-weight: bold;
}